@import url('https://fonts.cdnfonts.com/css/minecraft-3');
body{
    font-family: 'Minecraft';
    background-color: #141414;
    padding: 0;
    margin: 0;
    color: white;
    font-feature-settings: normal;
    font-weight: normal;
}
h1{
    text-align: center;
    font-size: 50px;
}
h2{
    text-align: center;
    font-size: 35px;
}
.button{
    text-align: center;
    align-content: center;
    background-color: blue;
    color: white;
    padding: 13px 20px;
    color: white;
    border: none;
    font-size: 50px;
    cursor: pointer;
    outline: none;
}
footer{
    font-size: 20px;
    font-weight: normal;
}

:root {
    --footer-font-size: 20px;
}

.footer {
    background: transparent;
    font-size: var(--footer-font-size, 20px);
    margin-top: 32%;
}