@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

body {
    font-family: comfortaa;
    background-color: #141414;
    padding: 0;
    margin: 0;
    color: white;
}

/* Barre de navigation */
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #476893;
    padding: 10px 0px;
}
nav .logo{
    margin-top: -40px;
    margin-left: 0px;
    margin-bottom: -50px;
}
nav .buttons button{
    padding: 13px 20px;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    font-family: comfortaa;
    margin-top: 40px;
}
nav .buttons .download{
    background-color: blue;
    margin-right: 10px;
    color: white;
}
nav .buttons .aboutus{
    background-color: inherit;
    margin-right: 10px;
    color: white;
}
nav .buttons .support{
    background-color: inherit;
    margin-right: 10px;
    color: white;
}
/* Fin de la barre de navigation */

/* Partie header */
header{
    background: url("Li chat retouch.png");
    background-position: center;
    background-size: 2048px 1132px;
    background-repeat: no-repeat;
    margin-top: 0px;
}
header h1{
    text-align: center;
    font-size: 0px;
    padding: 500px;
}
div .download{
    background-color: blue;
    margin-right: 10px;
    color: white;
    padding: 13px 20px;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    font-family: comfortaa;
    margin-top: 40px;
}
/* Fin de la partie header */